.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Fira Sans", sans-serif;
}

.codeBox {
  margin: 1.75rem 0;
  padding: 10px;
  background: #eee;
  white-space: break-spaces;
  word-break: break-word;
}

.checkboxContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
